footer{
    background-color: #413f3f;

    .h3-footer{
        font-family: shrikhand;
        color: white;
        padding-top: 20px;
        margin-left: 25px;
        margin-top: 0;

        @media screen and (min-width:768px){
         text-align: center;
         margin-left: 0;
         margin-bottom: 40px;
         font-size: 1.5em;
        }
    }
 }

 .footer_elements{
    color: #fff;
    font-weight: 400;
    font-size: 0.9em;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 40px;
    margin-left: 20px;

    @media screen and (min-width:768px){
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
      
    }

 }


 .footer_elements li{
    padding: 5px;
   

    @media screen and (min-width:768px){
      font-size: 1.1em;
        
      }

    
 }


 .fa-utensils::after{
    content: '';
    margin-right: 10px;
 }

 .fa-handshake-angle::after{
    content: '';
    margin-right: 5px;

 }
