.header-a-la-fr{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;

    .logo-page1{
        width: 170px;
        margin-bottom: 8px;
         }
         .fa-arrow-left{
            position: absolute;
            left: 20px;
            top: 5px;
            font-size: 22px;
         }
}

.img-de-fond{
    width: 100%;
    object-fit: cover;
    // z-index: unset;

}

.nom-resto-coeur{
    display: flex;
    justify-content: space-between;

    .nom-resto{
        font-family: shrikhand;
        font-size: 25px;
    }

    .coeur-menu1{
        position: absolute;
        right: 20px;
        top: 13px;
        font-size: 27px;
    }
}

.block-menu{
    background-color:whitesmoke;
    padding-bottom: 30px;
    border-radius: 30px 30px 0 0;
    margin-top: -45px;
    z-index:100;
    position: relative;
}


.menu{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.menu_h3{
    color: rgb(75, 73, 73);
    font-size: 16px;
    border-bottom: 3px solid $tertiaire;
    padding-bottom: 5px;
    width: 42px;
}


.nom-plat{
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2);
   

    p{
        margin: 0;
        font-weight: 700;
        font-size: 17px;
    }

    .entrees-ingredients-prix{
        display: flex;
        justify-content: space-between;
    }
    
}

.nom-plat:hover{
    cursor: pointer;
}


.couleur-ingredients{
    color: rgb(75, 73, 73);
    font-size: 0.9em;
}

.prix{
    font-weight: 700;
}


.btn-menu{
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}


.btn-menu:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: $secondaire;
}







